html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
 
/* remember to define focus styles! */
:focus {
    outline: 0;
}
 
/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
 
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Style */


body{
	background-image: url('background.jpg');
	background-attachment: fixed;
	margin:0;
	padding: 0;
	font-family: Verdana;
}

div#header {
	text-align: center;
	margin-bottom: 3%;
	}

div#content{
	min-height: 400px;
	margin-left:10%;
	margin-right: 10%;
	margin-top: 8%;
	width:auto;
	background-color: rgba(255,255,255,0.3);
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	background-attachment: fixed;
	padding: 2%;
	font-weight: 400;
	margin-bottom: 5%;
}
div#footer{
	width: 100%;
	padding-top: 1%;
	padding-bottom: 1%;
	text-align: center;
	clear: both;
	position: relative;
	bottom: 0;
	background-color: #666666;
}
span.name{
	color: #00417b;
	font-weight: Bold;
}

div#links{
	margin-left: 2%;
   margin-top: 5%;
	margin-bottom: 5%;
}

p#presentazione {
	margin-top: 2%;
   
}

p.link{
	margin-bottom: 3%;

}
 
h1{
    font-size: 2.5em; 
    margin-bottom: 1%;
 
 }
a{
	text-decoration: none;
    cursor: pointer;
   font-size: 1.2em;	
   font-weight: bold;
}

a:hover{
	color: #00417b;
	cursor: pointer;
	font-size: 1.2em;	
   font-weight: bold;
	
	}

ul {
	list-style-type: disc;
	}
